@font-face {
  font-family: 'Bevellier-Regular';
  src: url('/static/assets/fonts/Bevellier-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  /* Font face declaration for custom font */
}

/* General Styles */
html,
body {
  margin: 0;
  font-family: 'Bevellier-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  color: white;
}

body {
  background: rgb(18, 27, 19);
  background: radial-gradient(circle, rgba(18, 27, 19, 1) 0%, rgba(18, 26, 27, 1) 48%, rgba(18, 24, 27, 1) 92%);
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  padding-bottom: 230px;
  color: white;
}

h1 {
  font-weight: 700 !important;
  font-size: 90px !important;
}

hr {
  border-top: 5px solid rgba(255, 255, 255, 0.5) !important;
  width: 6%;
  margin: 20px auto;
  border-radius: 5px;
}

/* Navbar Styles */
.navbar {
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 8px 16px;
  z-index: 9999;
  height: 100px;
}

.navbar-brand,
.nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #cfcfcf !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0 !important;
}

.nav-item {
  margin: 0 10px;
  display: flex;
  margin-right: 20px;
}

.dropdown-menu {
  background-color: #0d1117;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #1a202c;
  color: #737373;
}

/* User Email and Sign Out Button Styles */
.email-display {
  display: flex;
  color: white;
  align-items: center;
}

.user-email {
  margin-right: 15px;
}

.signout-btn {
  border: none;
  background: none;
  padding: 0;
}

.sign-out-button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sign-out-button:hover {
  background-color: white;
  color: #0d1117;
}

/* Button Styles */
.btn-outline-light {
  transition: all 0.3s ease;
  width: 150px;
  height: 38px;
}

.btn-outline-light:hover {
  background-color: white;
  color: #0d1117;
}

.basket-container {
  display: flex;
  align-items: center;
}

/* Jumbotron Styles */
.jumbotron {
  background-color: transparent;
  color: white;
  padding: 55px 32px;
  margin-top: 53px;
}

/* Card Styles */
.product-card {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  height: 525px;
  background-color: #1d1e22;
  color: white;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 0 auto;
}

/* Footer Styles */
.footer {
  background-color: #2c3e50;
  color: white;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-star {
  color: #f39c12;
}

/* Media Queries */

/* Tablet/Mobile Navbar Adjustments */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin: 5px 0;
  }

  .signout-btn {
    margin-top: 10px;
  }

  .product-card-buy-container {
    min-width: 80%;
  }
}

/* Jumbotron for Mobile */
@media (max-width: 766px) {
  .jumbotron {
    margin-top: 114px;
  }
}
