{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
	<h1 class="display-4">Shopping Cart</h1>
	<p class="lead">View your cart ...</p>
</div>
<div class="container">
	{% if products %}
	<table class="table">
		<thead>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
			<tr>
				<td>{{ product.name }}</td>
				<td>
					<select class="form-select" aria-label="Quantity select" id="select{{product.id}}">
						{% for key, value in quantities.items %}
							{% if key == product.id|slugify %}
								<option selected>{{ value.quantity }}</option>
							{% endif %}
						{% endfor %}
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</td>
				<td>
					€{{ product.price }}
					<button type="button" class="btn btn-bg-secondary update-cart" data-product-id="{{product.id}}">
						Update cart
					</button>
				</td>
				<td>
					{% if product.is_sale %}
					<div class="badge bg-danger">Sale</div>
					<p>
						<strike>€{{ product.price }}</strike><br />
						€{{ product.sale_price }}
					</p>
					{% else %}
					<p>€{{ product.price }}</p>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="text-end">
		<h4 id='total_price'>Total: €{{ cart.get_total_price }}</h4>
	</div>
	{% else %}
	<p>Your cart is empty.</p>
	{% endif %}
</div>



<script>
	$(document).on('click', '.update-cart', function (e) {
		e.preventDefault();
		let product_id = $(this).data('product-id');
		let quantity = $('#select' + product_id).val();
		$.ajax({
			type: 'POST',
			url: '{% url "cart_update" %}',
			data: {
				product_id: product_id,
				quantity: quantity,
				csrfmiddlewaretoken: '{{ csrf_token }}',
				action: 'post'
			},
			success: function (json) {
				document.getElementById('cart_quantity').textContent = json.cart_quantity;

			},
			error: function () {
				console.log('error');
			}
		});
	});
	
$(document).on('click', '.update-cart', function (e) {
    e.preventDefault();
    
    setTimeout(function() {
        $.ajax({
            type: 'POST',
            url: '{% url "cart_price" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                let price = json.total_price;
                $('#total_price').text('Total: €' + price);
                console.log(price);
            },
            error: function () {
                console.log('error');
            }
        });
    }, 300);  // 300ms delay
}); 





</script>
{% endblock %}
