{% extends 'base.html' %} {% load static %} {% block content %}
{% block meta_description %}
<meta name="description" content="Learn more about CodeCommerce, our mission, values, and the team dedicated to bringing you the best courses.">
{% endblock %}

<div class="about-us-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<h5 class="about-us-subtitle">About Us</h5>
				<h1 class="about-us-title">
					Helping businesses deliver
					<span class="about-us">exceptional buyer experiences.</span>
				</h1>
				<p class="about-us-lead">
					We are the leading tech sales platform, empowering teams
					with cutting-edge technology and unmatched service to drive
					growth and success. Join thousands of satisfied customers
					who trust us to enhance their business operations and
					maximize their potential.
				</p>
			</div>
			<div class="col-md-6 text-center">
				<img
					src="/static/images/website_images/generic-about-us-image.67fca88ab6f4.webp"
					alt="About Us Image"
					class="about-us-image img-fluid"
				/>
			</div>
		</div>
	</div>
</div>

{% endblock %}
