{% extends 'base.html' %} {% load static %} {% block content %} {% include
"messages.html" %}
<div class="container mt-5 create-product-container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card shadow create-product-card">
				<div class="card-header text-white">
					<h2 class="mb-0">Create New Product</h2>
				</div>
				<div class="card-body card-body-category">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="mb-3">
							<label for="category" class="form-label"
								>Category Name</label
							>
							<input
								type="text"
								class="form-control"
								id="category"
								name="name"
								maxlength="10"
								required
							/>
						</div>

						<div class="d-grid text-ali">
							<button
								type="submit"
								class="btn btn-primary btn-lg"
							>
								Add Category
							</button>
						</div>
					</form>
				</div>
				<ul class="list-group list-group-flush">
					{% for category in categories %}
					<li class="list-group-item">
						{{ category.name }}
						<a
							href="{% url 'delete_category' category.pk %}"
							class="btn btn-secondary x-button-card"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-x"
								viewBox="0 0 16 16"
							>
								<path
									d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
								></path>
							</svg>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
