{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "messages.html" %}
<div class="jumbotron text-center">
	<h1 class="display-4">Create Product</h1>
	<p class="lead">
		Create your new product
	</p>
	<hr />
</div>
<div class="container mt-5 create-product-container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow create-product-card">
                 

                </div>
                <div class="card-body create-product">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="255" required>
                        </div>
                        <div class="mb-3">
                            <label for="product_title_description" class="form-label">product title description</label>
                            <textarea class="form-control" id="product_title_description" name="product_title_description" maxlength="100" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <div class="input-group">
                                <span class="input-group-text"></span>
                                <input type="number" class="form-control" id="price" name="price" step="0.01" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-select" id="category" name="category" >
                                <option value="">Select a category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" maxlength="1000" rows="3"></textarea>
                        </div>
                         <div class="mb-3">
                            <label for="custom_badge" class="form-label">Custom Badge </label>
                            <textarea class="form-control" id=" custom_badge " name="custom_badge" maxlength="6" rows="1"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Product Image</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*">
                        </div>  
                         

                        <div class="mb-3 form-check">
                            <input class="form-check-input" type="checkbox" id="is_sale" name="is_sale">
                            <label class="form-check-label" for="is_sale">On Sale</label>
                        </div>
                        
                        <div class="mb-3" id="sale_price_group">
                            <label for="sale_price" class="form-label">Sale Price</label>
                            <div class="input-group">
                                <span class="input-group-text">€</span>
                                <input type="number" class="form-control" id="sale_price" name="sale_price" step="0.01">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="stock" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="qty" name="qty" required>
                        <div class="d-grid text-ali">
                            <button type="submit" class="btn btn-primary btn-lg">Create Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}






