{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "messages.html" %}
<div class="jumbotron text-center">
    <h1 class="display-4">Edit product</h1>
    <p class="lead">Edit your product here</p>
    <hr />
</div>
<div class="container mt-5 create-product-container">
    <div class="row justify-content-center">
        <div class="col-md-8">

                <div class="card-body create-product">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="255" required value="{{product.name}}">
                        </div>
                        <div class="mb-3">
                            <label for="product_title_description" class="form-label">product title description</label>
                            <textarea class="form-control" id="product_title_description" name="product_title_description" maxlength="350" rows="3">{{product.product_title_description}}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <div class="input-group">
                                <span class="input-group-text">€</span>
                                <input type="number" class="form-control" id="price" name="price" step="0.01" required value="{{product.price}}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-select" id="category" name="category" required>
                                <option value="">Select a category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" maxlength="2000" rows="3">{{product.description}}</textarea>
                        </div>
                         <div class="mb-3">
                            <label for="custom_badge" class="form-label">Custom Badge </label>
                            <textarea class="form-control" id="custom_badge" name="custom_badge" maxlength="6" rows="1">{{product.custom_badge}}</textarea>
                        </div>

                        <div class="mb-3">
                            <image src="{{product.image.url}}" alt="{{product.name}}" class="img-fluid">
                            <label for="image" class="form-label">Product Image</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*">
                        </div>  
                         
                        <div class="mb-3 form-check">
                            <input class="form-check-input" type="checkbox" id="is_sale" name="is_sale">
                            <label class="form-check-label" for="is_sale">On Sale</label>
                        </div>
                        
                        <div class="mb-3" id="sale_price_group">
                            <label for="sale_price" class="form-label">Sale Price</label>
                            <div class="input-group">
                                <span class="input-group-text">€</span>
                                <input type="number" class="form-control" id="sale_price" name="sale_price" step="0.01" value="{{product.sale_price}}">
                            </div>
                        </div>
                        <div class="d-grid text-ali">
                            <button type="submit" class="btn btn-primary btn-lg">Confirm Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}