{% extends 'base.html'%}
{% load static %}

{% block content %}
	<body>
		<div class="jumbotron text-center">
			<h1 class="display-4">Courses</h1>
			<p class="lead">Discover our amazing selection</p>
			<hr></hr>
		</div>
		

		<div class="container my-5">
			<div class="row">
				{% for product in products %}
				<div class="col-md-3 mb-4">
					<div class="card">
						<img
							class="card-img-top"
							src="{{ product.image.url }}"
							alt="{{ product.name }}"
						/>
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>

							{% if product.is_sale %}
							<div class="badge bg-danger">Sale</div>
							<p class="card-text">
								<strike>€{{ product.price }}</strike>
							</p>
							<p class="card-text">€{{ product.sale_price }}</p>
							{% else %}
							<p class="card-text">€{{ product.price }}</p>
							{% endif %}
							<a class="btn btn-outline-primary" href="{% url 'product' product.id%}">
								View Product
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endblock%}