<nav class="navbar navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="{% url 'home' %}">Django E-shop</a>
		<button
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
			class="navbar-toggler"
			data-bs-target="#navbarNav"
			data-bs-toggle="collapse"
			type="button"
		>
			<span class="navbar-toggler-icon navbar-dark"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}">About Us</a>
				</li>

				{% if is_staff %}
				<li class="nav-item dropdown">
					<a
						aria-expanded="false"
						class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"
						href="#"
						id="navbarDropdown"
						role="button"
					>
						Admin
					</a>

					<ul aria-labelledby="navbarDropdown" class="dropdown-menu">
						<li>
							<a
								class="dropdown-item"
								href="{% url 'admin_create_product' %}"
							>
								Create Product
							</a>
						</li>
					</ul>
				</li>
				{% endif %}

				<li class="nav-item dropdown">
					<a
						aria-expanded="false"
						class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"
						href="#"
						id="navbarDropdown"
						role="button"
					>
						Categories
					</a>

					<ul aria-labelledby="navbarDropdown" class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{% url 'home' %}">
								All Products
							</a>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{% url 'category' 'Televisions' %}"
							>
								Televisions
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="d-flex basket-container">
			<ul class="navbar-nav px-3">
				<li class="nav-item user-controls">
					{% if request.user.is_authenticated %}
					<ul class="navbar-nav">
						<li class="nav-item">
							<form method="post" action="{% url 'logout' %}">
								{% csrf_token %}
								<button
									type="submit"
									class="btn btn-outline-light"
									title="{{ request.user.email }}"
								>
									Sign out
								</button>
							</form>
						</li>
					</ul>
					{% else %}
					<ul class="navbar-nav">
						<li class="nav-item">
							<a
								href="{% url 'login' %}"
								class="btn btn-outline-light"
							>
								Login
							</a>
						</li>
					</ul>
					{% endif %}
				</li>
			</ul>
			<a class="btn btn-outline-light" href="{% url 'cart_summary' %}">
				<i class="fas fa-shopping-basket"></i>
				Basket
				<span
					class="badge bg-light text-dark ms-1 rounded-pill"
					id="cart_quantity"
				>
					{{ cart|length }}
				</span>
			</a>
		</div>
	</div>
</nav>
