<nav class="navbar navbar-expand-lg">
	<div class="container">
		<!-- Brand logo -->
		<a class="navbar-brand" href="{% url 'home' %}">Django E-shop</a>
		<!-- Navbar toggler button -->
		<button
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
			class="navbar-toggler"
			data-bs-target="#navbarNav"
			data-bs-toggle="collapse"
			type="button"
		>
			<span class="navbar-toggler-icon navbar-dark"></span>
		</button>
		<!-- Navbar items -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<!-- Home link -->
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<!-- About Us link -->
				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}">About Us</a>
				</li>
				{% if request.user.is_authenticated %}
				<!-- Profile link -->
				<li class="nav-item">
					<a class="nav-link" href="{% url 'profile' %}">Profile</a>
				</li>
				{% endif %}

				<!-- Admin dropdown menu (visible only to staff) -->
				{% if is_staff %}
				<li class="nav-item dropdown navbarDropdown">
					<a
						aria-expanded="false"
						class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"
						href="#"
						role="button"
					>
						Admin
					</a>

					<ul aria-labelledby="navbarDropdown" class="dropdown-menu">
						<!-- Create Product link -->
						<li>
							<a
								class="dropdown-item"
								href="{% url 'admin_create_product' %}"
							>
								Create Product
							</a>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{% url 'admin_create_category' %}"
							>
								Create category
							</a>
						</li>
					</ul>
				</li>
				{% endif %}

				<!-- Categories dropdown menu -->
				<li class="nav-item dropdown navbarDropdown">
					<a
						aria-expanded="false"
						class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"
						href="#"
						role="button"
					>
						Categories
					</a>

<ul aria-labelledby="navbarDropdown" class="dropdown-menu">

    <li>
        <a class="dropdown-item" href="{% url 'home' %}">
            All Products
        </a>
    </li>

    {% for category in categories %}
    <li>
        <a class="dropdown-item" href="{% url 'category' category.name %}">
            {{ category.name }}
        </a>
    </li>
    {% endfor %}
</ul>
					</ul>
		</div>
		<!-- User controls and shopping basket -->
		<div class="d-flex basket-container">
			<ul class="navbar-nav px-3">
				<li class="nav-item user-controls">
					<!-- User sign out button (visible only if user is authenticated) -->
					{% if request.user.is_authenticated %}
					<ul class="navbar-nav">
						<li class="nav-item">
							<form method="post" action="{% url 'logout' %}">
								{% csrf_token %}
								<button
									type="submit"
									class="btn btn-outline-light"
									title="{{ request.user.email }}"
								>
									Sign out
								</button>
							</form>
						</li>
					</ul>
					{% else %}
					<!-- User login button (visible only if user is not authenticated) -->
					<ul class="navbar-nav">
						<li class="nav-item">
							<a
								href="{% url 'login' %}"
								class="btn btn-outline-light"
							>
								Login
							</a>
						</li>
					</ul>
					{% endif %}
				</li>
			</ul>
			<!-- Shopping basket button -->
			<a class="btn btn-outline-light" href="{% url 'cart_summary' %}">
				<i class="fas fa-shopping-basket"></i>
				Basket
				<!-- Shopping cart quantity badge -->
				<span
					class="badge bg-light text-dark ms-1 rounded-pill"
					id="cart_quantity"
				>
					{{ cart|length }}
				</span>
			</a>
		</div>
	</div>
</nav>
