{% extends 'base.html' %} {% load static %} {% block content %} 


<!-- Registration Form -->
<div class="container signin-reg-container">
	<div class="row auth justify-content-center">
		<div class="col-md-5">
			<div class="mt-5 shadow signup-and-reg-card " style="min-width: 300px">
				<div class="card-body-reg-login p-5">
					<h4 class="card-title text-left mt-3 mb-5">
						Update User Profile
					</h4>
					<form id="form" action="{% url 'update_user' %}" method="post">
						{% csrf_token %} {% include "messages.html" %}

						<!-- Name Field -->
						<div class="form-group mb-3">
							<label for="first_name" class="form-label"
								>Name</label
							>
							<input
								type="text"
								name="first_name"
								class="form-control form-control-lg"
								id="users-name"
								value="{{ user.first_name }}"
								required
							/>
						</div>
						<div class="invalid-feedback" style="display: none">
							<p></p>
						</div>

						<!-- Email Field -->
						<div class="form-group mb-3">
							<label for="email" class="form-label">Email</label>
							<input
								type="email"
								name="email"
								class="form-control form-control-lg"
								id="email"
								value="{{ user.email }}"
								required
							/>
						</div>
						<div class="invalid-feedback" style="display: none">
							<p></p>
						</div>

						<!-- Update account --> 
						<div class="form-group mb-4">
							<button
								type="submit"
								class="btn btn-success form-control-lg btn-auth"
								id="register"
							>
								Update Profile
							</button>
						</div>
						<hr />


					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Scripts -->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock %}
